.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: rgb(39, 24, 176);
    border: 1px solid black;
}

@media screen and (min-width: 720px) {
    .grid-container{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        background: rgb(39, 24, 176);
        border: 1px solid black;
    }
}

@media screen and (min-width: 360px) {
    .grid-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        background: rgb(39, 24, 176);
        border: 1px solid black;
    }
}